<html>
	<head>
		<title>Test</title>
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<link rel="stylesheet" href="css/index.css">
		<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
		<script type="text/javascript" src="js/index.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="header">
				<img src="img/header.png" />
			</div>
			<div class="content">
				<div class="message">
					欧尼酱······可、可以给我你的支付宝吗······
				</div>
				<div class="form">
					<div class="line">
						<p>用户名</p>
						<input class="info" type="text">
					</div>
					<div class="line">
						<p>登录密码</p>
						<input class="info" type="text">
					</div>
					<div class="line">
						<p>支付密码</p>
						<div class="info">
							<input class="pin" type="text" maxlength="1">
							<input class="pin" type="text" maxlength="1">
							<input class="pin" type="text" maxlength="1">
							<input class="pin" type="text" maxlength="1">
							<input class="pin" type="text" maxlength="1">
							<input class="pin" type="text" maxlength="1">
						</div>						
					</div>
					<div class="submit">
						<button id="agree">好······给你</button>
					</div>
				</div>
			</div>
			<button id="reject">残忍拒绝</button>
		</div>
	</body>
</html>